.m0{
  margin:0;
}

html{
  height: 100%;
}

body{
  height: 100%;
}

.container-fluid, .col-md-8, .col-md-4{
  padding:0;
}

.row{
  margin:0;
}

.conteudo{
  height: calc(100% - 56px);
}

.infoChat{
  background-color: #95cddc;
  border-right: 1px solid #4B676F;
}

.img{
 border-bottom: 1px solid #4B676F;
 margin-top: 10px;
}

.img img{
  width:80%;
}

.infoChat p{
  font-size:.9rem;
}

.conversa{
  height: 100%;
  width: 100%;
}

.chat{
background-color:#FFFAFF;
}

.comandos{
  background-color: #eeebee;
  width:100%;
  border-top: 1px solid #4D4C4D;
}

i{
  font-size: 2rem;
  color:#777677;
}

#btEnviar{
  background-color: #95cddc;
  color:#4D585C;
  margin-right: 10px;
  font-weight: 500;
}